<!-- <app-header></app-header> -->
<mat-toolbar color="primary">To-do List</mat-toolbar>

<div id="todo-container">
    <div id="todo-list" *ngIf="(todos$| async)?.length">
        <mat-selection-list class="list" cdkDropList (selectionChange)="checkCenas($ev)">
            <h3 matSubheader>Today</h3>
            <mat-list-option cdkDrag *ngFor="let todo of todos$ | async" (click)="markAsCompleted(todo)" [selected]="todo.completed">
                <span mat-line>{{todo.id}}</span>
                <span mat-line>{{todo.todo}}</span>
                <span mat-line>{{todo.completed}}</span>
            </mat-list-option>
        </mat-selection-list>
        <mat-divider></mat-divider>
    </div>
    <div id="no-items" *ngIf="!(todos$| async)?.length">
        <img src="assets/Icon-no-todo-items.png" alt="">
        <span>{{todos$.length | json}}</span>
    </div>
</div>
<mat-card id="todo-form" [formGroup]="form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="What?" formControlName="todo">
    </mat-form-field>
    <mat-form-field>
        <input matInput (focus)="picker.open()" [matDatepicker]="picker" formControlName="date" placeholder="When?">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
          
    <button mat-fab color="primary" (click)="addTodo()" type="button">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
    </button>
</mat-card>